[package]
name = "turbo-guacamole"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.8"
base62 = "2.2.3"
sha2 = "0.10.9"
tokio = { version = "1.0", features = ["full"] }
tower = { version = "0.5.2", features = ["util", "timeout", "load-shed", "limit"] }
tower-http = { version = "0.6.1", features = [
    "add-extension",
    "auth",
    "compression-full",
    "limit",
    "trace",
] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
